<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title></title>
</head>
<body>
  <div class="row">
    <div class="col-md-12">
      <div class="portlet light bordered">
        <div class="portlet-title">
          <div class="caption">
            Standard Repository
          </div>
        </div>
        <div class="portlet-body">


          <div class="clearfix">
            <div class="portlet light bordered">

              <div class="portlet-title">
                <div class="caption">
                  <span class="caption-subject font-blue-hoki bold uppercase">Button</span>
                </div>
              </div>
              <div class="portlet-body">
                <a class="btn blue" data-toggle="tab" href="/userManagement/user/0">
                  <i class="fa fa-plus"></i>
                  <span>Create</span>
                </a>
                <button class="btn blue" type="submit">
                  <i class="fa fa-check"></i> Save
                </button>
                <button class="btn default" type="button">Cancel</button>
              </div>
            </div>
          </div>
          <div class="clearfix">
            <div class="portlet light bordered">
              <div class="portlet-title">
                <div class="caption">
                  <span class="caption-subject font-blue-hoki bold uppercase">Form Sample</span>
                </div>
              </div>
              <div class="portlet-body form">
                <!-- BEGIN FORM-->
                <form action="#" class="horizontal-form">
                  <div class="form-body">
                    <h3 class="form-section">Person Info</h3>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="control-label">
                            First Name
                            <span aria-required="true" class="required"> * </span>
                          </label>
                          <input type="text" id="firstName" class="form-control" placeholder="Chee Kin">
                          <span class="help-block"> This is inline help </span>
                        </div>
                      </div>
                      <!--/span-->
                      <div class="col-md-6">
                        <div class="form-group has-error">
                          <label class="control-label">
                            Last Name
                            <span aria-required="true" class="required"> * </span>
                          </label>
                          <input type="text" id="lastName" class="form-control" placeholder="Lim">
                          <span class="help-block"> This field has error. </span>
                        </div>
                      </div>
                      <!--/span-->
                    </div>
                    <!--/row-->
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="control-label">Gender</label>
                          <select class="form-control">
                            <option value="">Male</option>
                            <option value="">Female</option>
                          </select>
                          <span class="help-block"> Select your gender </span>
                        </div>
                      </div>
                      <!--/span-->
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="control-label">Date of Birth</label>
                          <input type="text" class="form-control" placeholder="dd/mm/yyyy">
                        </div>
                      </div>
                      <!--/span-->
                    </div>
                    <!--/row-->
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="control-label">Category</label>
                          <select class="form-control" data-placeholder="Choose a Category" tabindex="1">
                            <option value="Category 1">Category 1</option>
                            <option value="Category 2">Category 2</option>
                            <option value="Category 3">Category 5</option>
                            <option value="Category 4">Category 4</option>
                          </select>
                        </div>
                      </div>
                      <!--/span-->
                      <div class="col-md-6">
                        <div class="form-group">
                          <label>Select User Role :</label>
                          <div class="mt-checkbox-list">
                            <label class="mt-checkbox mt-checkbox-outline">
                              Administrator
                              <input class="checkboxes" type="checkbox" value="5">
                              <span></span>
                            </label>
                            <label class="mt-checkbox mt-checkbox-outline">
                              Document Owner
                              <input class="checkboxes" type="checkbox" value="13">
                              <span></span>
                            </label>
                          </div>
                        </div>
                      </div>
                      <!--/span-->
                    </div>
                    <!--/row-->
                    <h3 class="form-section">Address</h3>
                    <div class="row">
                      <div class="col-md-12 ">
                        <div class="form-group">
                          <label>Street</label>
                          <input type="text" class="form-control">
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label>City</label>
                          <input type="text" class="form-control">
                        </div>
                      </div>
                      <!--/span-->
                      <div class="col-md-6">
                        <div class="form-group">
                          <label>State</label>
                          <input type="text" class="form-control">
                        </div>
                      </div>
                      <!--/span-->
                    </div>
                    <!--/row-->
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label>Post Code</label>
                          <input type="text" class="form-control">
                        </div>
                      </div>
                      <!--/span-->
                      <div class="col-md-6">
                        <div class="form-group">
                          <label>Country</label>
                          <select class="form-control"> </select>
                        </div>
                      </div>
                      <!--/span-->
                    </div>
                  </div>
                  <div class="form-actions left">
                    <button type="submit" class="btn blue">
                      <i class="fa fa-check"></i> Save
                    </button>
                    <button type="button" class="btn default">Cancel</button>
                  </div>
                </form>
                <!-- END FORM-->
              </div>
            </div>
          </div>
          <div class="clearfix">
            <div class="portlet light portlet-fit bordered">
              <div class="portlet-title">
                <div class="caption">
                  <span class="caption-subject font-blue-hoki bold uppercase">Tab Sample</span>
                </div>
              </div>
              <div class="portlet-body">
                <div class="tabbable-line">
                  <ul class="nav nav-tabs ">
                    <li class="active">
                      <a href="#tab_15_1" data-toggle="tab" aria-expanded="false"> Section 1 </a>
                    </li>
                    <li class="">
                      <a href="#tab_15_2" data-toggle="tab" aria-expanded="true"> Section 2 </a>
                    </li>
                    <li class="">
                      <a href="#tab_15_3" data-toggle="tab" aria-expanded="false"> Section 3 </a>
                    </li>
                  </ul>
                  <div class="tab-content">
                    <div class="tab-pane active" id="tab_15_1">
                      <p> I'm in Section 1. </p>
                      <p>
                        Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo
                        consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat.
                      </p>
                    </div>
                    <div class="tab-pane" id="tab_15_2">
                      <p> Howdy, I'm in Section 2. </p>
                      <p>
                        Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie
                        consequat. Ut wisi enim ad minim veniam, quis nostrud exerci tation.
                      </p>
                    </div>
                    <div class="tab-pane" id="tab_15_3">
                      <p> Howdy, I'm in Section 3. </p>
                      <p>
                        Duis autem vel eum iriure dolor in hendrerit in vulputate. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum
                        iriure dolor in hendrerit in vulputate velit esse molestie consequat
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>
</body>
</html>
